<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.android2ee.formation.lib.squarelibs" >

    <uses-permission android:name="android.permission.INTERNET"/>
    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >

        <!-- Activity -->
        <activity
            android:name=".view.OkioActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".view.OkHttpActivity"
            android:label="@string/title_activity_ok_http" >
        </activity>
        <activity
            android:name=".view.MoshiActivity"
            android:label="@string/title_activity_moshi" >
        </activity>
    </application>

</manifest>
